numpy
pandas
scipy==1.12.0
opencv-python-headless
plotly
jupyterlab
ipykernel
pillow
ipywidgets
pvrecorder
RPi.GPIO
websockets
aiohttp
pyarrow
tqdm
ahrs
tensorflow
spidev
gpiozero
typing_extensions
pybind11
dbus-python
PyGObject
smbus2
python-prctl
rpi-kms
picamera2